@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Libre+Baskerville&family=Poppins:wght@600;700&display=swap');
.navbar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: aliceblue;
  width: 50%;
  height: 10vh;
  /* border: ; */
  border-radius: 10px;
  margin: 0px 10px;
  margin-bottom: 20px;
  box-shadow: 4px 4px 4px bisque;
}
.heading{
  font-size: 2rem;
  font-family: 'Dancing Script', cursive;
  word-spacing: 5px;
  letter-spacing: 5px;
}
input{
  background-color: black;
  border: 1px solid white;
  color: white;
  margin-top: 0.5em;
  height: 22px;
  border-radius: 10%;
  margin: 0px 10px;
  /* font-family: 'Dancing Script', cursive; */
  
}
.title{
  width: 50%;
  height: 13vh;
  /* background-color: rgb(34, 27, 27); */
  color: black;
  border-color: rgb(87, 69, 43);
  background-color: bisque;
  border-radius: 10%;
  /* border: 1px solid rgb(182, 137, 137); */
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-family: 'Libre Baskerville', serif;
  /* font-family: 'Dancing Script', cursive; */
  padding: 4px 5px;
  box-shadow: 4px 4px 4px black;
}

p.titlehead{
  font-size: 1.25rem;
  margin: 6px 0px;
}

a{
  margin: 6px 30px;
}

.stories{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(207, 207, 207);

}
